.task{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: var(--vartaskbgClr);
    border-radius: 20px;
    padding: 20px;
    width: 100%;

    margin-top: 15px;
    margin-bottom: 15px;
}

.task:nth-child(even){
    background-color: var(--varlightyellowClr);
    color: var(--vardarkorangeClr);
}

.middletitlediv{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}

.descriptiontitle{
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    border-bottom: 1px solid var(--varmainClr);
    padding-top: 5px;
    margin-bottom: 5px;
}

.middlebtndiv{
    text-align: end;
    padding-top: 10px;
}

.middlebtndiv > button{
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
}

.completebtn{
    background-color: rgb(160, 250, 26);
    color: black;
}

.completebtn:active{
    background-color: rgb(19, 161, 6);
    color: white;
}

.deletebtn{
    background-color: rgb(233, 112, 112);
    color: black;
}

.deletebtn:active{
    background-color: rgb(182, 13, 13);
    color: white;
}

.date{
    display: inline-block;
    border: 2px solid var(--varmainClr);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
}

.datetitle{
    font-weight: bold;
}

.tasktypetitle{
    font-size: 12;
    font-weight: bold;
}

.tasktypetext{
    text-transform: uppercase;
}

#nodatabox{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 50vh;
}

.nocomplete{
    display: block;
}

.yescomplete{
    display: none;
}